 body {
    background: url('../4back.jpg') no-repeat center center fixed;
    -webkit-background-size: 100vh; 
    -moz-background-size: 100vh;
    -o-background-size: 100vh; 
    background-size: 100vh;
    background-position: center center;
    background-color: black;
}

@font-face {
    font-family: "sff";
    font-style: normal;
    font-weight: 50;
    src: url("../font/SF_Fedora.ttf") format('truetype');
  }

  p.typing-txt{
    position:relative;
    display: inline-block;
    height: 20px; overflow: hidden;
    color:white;
    animation: typingAni 1.5s steps(30, end) 1;
  }
  p.typing-txt::after{
    position:absolute; 
    display:block;
    content:""; 
    width: 20px; 
    height: 15px;
    top : 3px;
    right:0; 
    border-right: 1px solid white;
    animation: cursor 0.5s step-end infinite;
  }
  @keyframes typingAni {
    0%{width:0%}
    100%{width: 150px};
  }
  @keyframes cursor{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
  }