@font-face {
  font-family: "haram";
  font-style: normal;
  font-weight: 50;
  src: url("../font/haram.woff2") format('truetype');
}
body {
   /* background: url('../3back.jpg') no-repeat center center fixed;
    -webkit-background-size: 100vh; 
    -moz-background-size: 100vh;
    -o-background-size: 100vh; 
    background-size: 100vh;
    background-position: center center; */
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../tearingjoy.png");
    background-repeat: no-repeat;
    background-position:center center;
}

.typing-txt
{
  display: none; 
}
ul{list-style:none;}
.typing ul li{
  font-size:3vmax;
  font-family: haram;
  display:block;
  color:white
}
.typing ul li.on {
  text-align: center center;  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
/*
p.result{ 
  display: inline-block;
  font-family: haram;
  font-size:20px; 
  color: #fff;
  line-height: 28px;
  border-right: 1px solid #000; 
  padding-right: 2px; 
  box-sizing: border-box; 
  animation: cursor 0.4s infinite;}

 @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
    }
*/