body {
   /* background: url('../3back.jpg') no-repeat center center fixed;
    -webkit-background-size: 100vh; 
    -moz-background-size: 100vh;
    -o-background-size: 100vh; 
    background-size: 100vh;
    background-position: center center; */
    background-color: white;
}

.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{
  display:block;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

    @font-face {
      font-family: "han";
      font-style: normal;
      font-weight: 50;
      src: url("../Nanumhandmtod.ttf") format('truetype');
    }
  